In [2]:
import pandas as pd

In [3]:
tge = pd.read_excel('güvenEndeksi.xls')
tge

,Ocak,Şubat,Mart,Nisan,Mayıs,Haziran,Temmuz,Ağustos,Eylül,Ekim,Kasım,Aralık
2007,78.581836,79.520586,79.219967,80.440610,81.732518,80.949646,82.270596,85.024409,83.885017,82.975294,79.297517,80.666743
2008,78.892660,74.376834,68.739040,63.013179,62.138995,61.791560,63.786432,66.626884,67.497974,61.017036,55.657354,56.676348
2009,58.334549,60.783764,61.550822,67.531254,70.053371,72.046072,69.145565,68.079112,68.701343,67.236810,65.155241,65.567809
2010,66.013158,68.626109,71.519006,72.573485,73.357630,74.815107,74.254487,74.128791,77.184919,75.794565,78.115084,77.765970
2011,78.062666,80.340164,80.177315,80.235176,79.628224,83.193337,81.611040,78.521325,80.473879,76.505506,77.817545,78.820463
2012,79.029069,79.648792,79.336559,75.748829,78.109503,76.758228,77.012661,74.332996,72.116220,69.342532,72.604097,73.587634
2013,75.787368,76.660250,74.911700,75.620600,77.461800,76.231600,78.469400,77.176200,72.112700,75.538500,77.503000,74.972300
2014,72.357599,69.237250,72.712369,78.475685,76.012310,73.705105,73.910926,73.232970,73.963282,70.336465,68.674088,67.749206
2015,67.706960,68.063440,64.393494,65.352375,64.291140,66.448318,64.664529,62.350107,58.519801,62.781250,77.147421,73.575160
2016,71.618563,66.638793,66.996338,68.464690,68.752418,69.428949,67.026588,74.441430,74.286150,74.036602,68.925356,63.380210
2017,66.934549,65.728698,67.806721,71.286893,72.785697,70.000819,71.313406,71.131414,68.712064,67.334061,65.160742,65.117881

In [4]:
# A function to convert our datasets to desired form.
def converter(data,name):
    df=pd.DataFrame(columns=[name])
    i=0
    for year, row in data.iterrows():
        for column in data:
            df.loc[str(year) +'-'+ str(i%12+1)] = row[column]
            i=i+1
    return df

In [5]:
tge = converter(tge,'Tüketici Güven Endeksi')
tge

         Tüketici Güven Endeksi
2007-1                78.581836
2007-2                79.520586
2007-3                79.219967
2007-4                80.440610
2007-5                81.732518
2007-6                80.949646
2007-7                82.270596
2007-8                85.024409
2007-9                83.885017
2007-10               82.975294
2007-11               79.297517
2007-12               80.666743
2008-1                78.892660
2008-2                74.376834
2008-3                68.739040
2008-4                63.013179
2008-5                62.138995
2008-6                61.791560
2008-7                63.786432
2008-8                66.626884
2008-9                67.497974
2008-10               61.017036
2008-11               55.657354
2008-12               56.676348
2009-1                58.334549
2009-2                60.783764
2009-3                61.550822
2009-4                67.531254
2009-5                70.053371
2009-6                72.046072
...                         ...
2015-7                64.664529
2015-8                62.350107
2015-9                58.519801
2015-10               62.781250
2015-11               77.147421
2015-12               73.575160
2016-1                71.618563
2016-2                66.638793
2016-3                66.996338
2016-4                68.464690
2016-5                68.752418
2016-6                69.428949
2016-7                67.026588
2016-8                74.441430
2016-9                74.286150
2016-10               74.036602
2016-11               68.925356
2016-12               63.380210
2017-1                66.934549
2017-2                65.728698
2017-3                67.806721
2017-4                71.286893
2017-5                72.785697
2017-6                70.000819
2017-7                71.313406
2017-8                71.131414
2017-9                68.712064
2017-10               67.334061
2017-11               65.160742
2017-12               65.117881

[132 rows x 1 columns]